body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
/* background image */
.cover {
  background-image: url(./images/namsky2.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}
.meme_cover {
  background-image: url(./images/Nam3.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}
.video_cover {
  background-image: url(./images/nam1.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}

.about_cover {
  background-image: url(./images/Nam4.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}
.photoshop_cover {
  background-image: url(./images/Nam5.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}
.contact_cover {
  background-image: url(./images/Nam2.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}
.gif_cover {
  background-image: url(./images/nam_bike.jpeg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(200, 200, 200, .5);
  height:80px;

}

#mainmenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  margin-top: 30px;
}
#mainmenu li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
transition-duration: 0.5s;
}
#mainmenu li:hover {
  background: red;
}
#mainmenu ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background: white;
}

ul li ul li{
  clear: both;
  width: 100%;
}
#mainmenu a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  /* transition: all 0.3s ease-in-out 0s; */
}
#mainmenu a:visited, #mainmenu a:link {
  color: black;
}
* {
  position: relative;
}
/*
#mainmenu > a:before {
  content: "";
  position: absolute;
  width: 65%;
  height: 2px;
  bottom: 0;
  left: 7;
  background: black;
  visibility: hidden;
  border-radius: 9px;
  transform: scaleX(0);
  transition: .25s linear;
}
#mainmenu > a:hover:before,
#mainmenu > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
} */

#title {
  margin-right:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title a:link, #title a:visited {
  color: black;
}

.middle_section {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
  margin-bottom: 0px;
}
/* bio layout */
#bio {
  display: flex;
  justify-content: center;
}
p {
  padding-top: 30px;
  text-align: center;
  line-height: 30px;
  width: 700px;
  color: grey;
  font-size: 20px;
}
.Memes h2 {
  /* color:LightCoral; */
  font-size: 50px;
}
.Photoshops h2 {
  /* color:LightSeaGreen; */
  font-size: 50px;

}
.pics {
  display: flex;
  flex-direction: row;
  justify-content:center;

}
/* .photoshop_pics {
  display: flex;
  flex-direction: row;
  justify-content:center;

} */
#left, #right {
    display: flex;
    /* height: 50vh;; */
    flex-direction: row;
    justify-content:center;
    width: 40vw;
}
#left img, #right img {
  max-height: 500px;
}
#left_p img, #right_p img{
  /* max-width: 500px; */
  max-height: 300px;
  margin: 20px;
}
.show_more_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.show_more_button a {
  display: flex;
  justify-content: center;
  width:200px;
  padding:0.35em 1.2em;
  border:0.1em solid #2F2F2F;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Merriweather',serif;
  font-weight:300;
  font-size: 15pt;
  text-align:center;
  color:#2F2F2F;
  transition: all 0.2s;
}
.show_more_button a:hover{
  color:#eaeaea;
  background-color:#2F2F2F;
}


/* subtitle layout */
h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
#first_line {
  margin-top: 90px;
}
/* footer layout */
.footer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  background-color: black;
  margin-top: 0px;
  margin-bottom:0px;
  height: 200px;
}

.left_footer {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 30px;
  align-items: center;
}
.left_footer a, .left_footer a:visited{
  color: white;
  line-height: 15px;
  padding-right: 80px;
  padding-left: 30px;
  font-size: 12px;
}
.left_footer a:hover {
  color:grey;
}
.middle_footer {
  color:white;
  padding-right: 20px;
  display:flex;
  align-items: flex-end;
}
.middle_footer p {
  font-size: 12px;;
}
.right_footer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-right: 20px;
}
.icons {
  display: flex;
  flex-direction: row;

}
.icon {
  flex-basis: 1em;
  padding: 15px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

.right_footer :hover > div {
  opacity: .3;
}
.right_footer :hover > div:hover {
  opacity: 1;
}
a:link, a:visited {
  text-decoration: none;
}
/* MEME PAGE LAYOUT */
.memes img {
  max-width: 30%;
  height: auto;
  padding: 10px;
}
.memes {
  display: flex;
  align-items: center;
}
.xtina_linz img {
  max-width: 45%;
  height: auto;
  padding: 10px;
}
.meme_page {
  margin: 15px;
}
.meme_page h1 {
  text-align: center;
}

/* PHOTOSHOPS PAGE LAYOUT */
.photoshops {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photoshops img {
  max-height: 250px;
  max-width: 500px;
  padding: 10px;
}
/* CONTACT PAGE LAYOUT */
.contact_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_page input{
  font-size: 30px;
  line-height: 45px;
  width: 700px;
  margin: 20px;
}
.contact_page textarea{
  font-size: 30px;
  line-height: 45px;
  width: 700px;
  min-height: 300px;
  margin: 20px;
}

/* GIFS PAGE LAYOUT */
.gifs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifs img {
  max-height: 500px;
  /* max-width: 500px; */
  padding: 10px;
}
}

/* media query adjusts font size, cover picture size, and margins to make sure
everthing fits in small computer screen or on phone */
@media only screen and (max-width: 640px) {
  .cover {
    width:100vw;
    height:50vh;
  }
  h1 {
    font-size: 40px;
    margin-right: 15px;
    margin-top: 7px;
  }
  #menuToggle {
    width: 50vw;
  }
  #menu {
    padding: 15px;
    padding-top: 50px;
  }
  #menu li{
    font-size: 15px;
  }
  p {
    font-size: 15px;
    width: 300px;
  }
  .headings {
    flex-direction: column;
    align-items: center;
  }
  .headings > div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe {
    padding: 10px;
    font-size: 15px;
    width: 300px;
  }
  .email_bar {
    line-height: 2;
    width: 250px;
  }
  h2 {
    font-size: 20px;
  }
}
